*/target
*/dependency-reduced-pom.xml
*/*.xml.unformatted
.idea/
/target/
*/*.iml
.classpath
.factorypath
.project
*/.settings/
*/.DS_Store
.settings/org.eclipse.m2e.core.prefs
.vscode/settings.json
*/packaged.yaml
.DS_Store
