name: Daily Run release tests

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  run_release_tests:
    name: run release tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: install dependencies. note aws is pre-installed and we use a specific action for node.
        run: |
          sudo apt update && sudo apt install -y tar gzip unzip wget less groff vim git python3 python3-pip unixodbc-dev curl jq;
      - name: install node and npm
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '11'
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Repo Root Directory
        run: echo "COMMON_REPO_ROOT=$GITHUB_WORKSPACE" >> $GITHUB_ENV

      - name: install python library.
        run: |
          cd $GITHUB_WORKSPACE/athena_federation_testing;
          python -m venv perf_testing;
          source perf_testing/bin/activate;
          pip install -r requirements.txt;
          echo PATH=$PATH >> $GITHUB_ENV

      - name: Setup AWS Cred
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2
          role-duration-seconds: 18000
          role-to-assume: ${{ secrets.AWS_ASSUME_ROLE }}

      - name: Load data and run test
        run: |
          cd $GITHUB_WORKSPACE/athena_federation_testing;
          #           python infra_main.py --action generate_tpcds;
          #           python infra_main.py --action create_infra;
          #           python infra_main.py --action load_data;
          python infra_main.py --action create_connector;
          python infra_main.py --action update_connector;
          python testing_main.py --action release_test;
        env:
          # env vars that are secrets should always be set in the env field, so they aren't visible in $GITHUB_ENV file
          AWS_REGION: 'us-west-2'
          COMMON_LF_ADMIN_ROLE_ARN: ${{ secrets.COMMON_LF_ADMIN_ROLE_ARN }}
          COMMON_RDS_SECRET_NAME: ${{ secrets.COMMON_RDS_SECRET_NAME }}
          COMMON_GLUE_JOB_ROLE_ARN: ${{ secrets.COMMON_GLUE_JOB_ROLE_ARN }}
          ELASTICSEARCH_ADMIN_ROLE_ARN: ${{ secrets.ELASTICSEARCH_ADMIN_ROLE_ARN }}
          BIGQUERY_BIG_QUERY_CREDENTIAL_NAME: ${{ secrets.BIGQUERY_BIG_QUERY_CREDENTIAL_NAME }}
          SNOWFLAKE_CREDENTIAL_SECRET_NAME: ${{ secrets.SNOWFLAKE_CREDENTIAL_SECRET_NAME }}

      - name: Destroy resource
        if: always()
        run: |
          cd $GITHUB_WORKSPACE/athena_federation_testing;
          python infra_main.py --action delete_resource;
          # python infra_main.py --action destroy_infra;
        env:
          # env vars that are secrets should always be set in the env field, so they aren't visible in $GITHUB_ENV file
          AWS_REGION: 'us-west-2'
          COMMON_LF_ADMIN_ROLE_ARN: ${{ secrets.COMMON_LF_ADMIN_ROLE_ARN }}
          COMMON_RDS_SECRET_NAME: ${{ secrets.COMMON_RDS_SECRET_NAME }}
          COMMON_GLUE_JOB_ROLE_ARN: ${{ secrets.COMMON_GLUE_JOB_ROLE_ARN }}
          ELASTICSEARCH_ADMIN_ROLE_ARN: ${{ secrets.ELASTICSEARCH_ADMIN_ROLE_ARN }}
          BIGQUERY_BIG_QUERY_CREDENTIAL_NAME: ${{ secrets.BIGQUERY_BIG_QUERY_CREDENTIAL_NAME }}
          SNOWFLAKE_CREDENTIAL_SECRET_NAME: ${{ secrets.SNOWFLAKE_CREDENTIAL_SECRET_NAME }}